<div class="sidebar">
    <div class="sidebar-header">
        <h2>STUDENT MANAGEMENT</h2>
        <h2 class="sub-title">HỆ THỐNG QUẢN LÝ HỌC SINH</h2>
        <p>Administrator</p>
    </div>

    <ul class="menu">
        <li class="active">
            <a href="{{ url_for('admin.dashboard') }}">
                
                Dashboard
            </a>
        </li>
    </ul>

    <ul class="menu-bottom">
        <li>
            <a href="{{ url_for('auth.logout') }}">
                
                Logout
            </a>
        </li>
    </ul>
</div>